In [1]:
#import libraries needed for the project
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#import dataset needed for the project
df = pd.read_csv("Classification+preprocessed+data+Python.csv")

Business Question:
#1: Prediction Question - Will the house be sold within 3 months of getting listed
#2: inferential Question - How accurately can we estimate the effect of each of the predictor variable on the response variable

In [4]:
#check the first 5 rows of the dataset
df.head()

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,Sold,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,0.049347,0,4.0875,1,0,0,1
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,0.046146,1,4.9675,0,1,0,0
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,0.045764,0,4.9675,0,0,0,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,0.047151,0,6.0650,1,1,0,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,0.039474,0,6.0625,0,1,0,0

***Logistic Regression***

In [5]:
#set x and y variables
X = df[['price']]
y = df['Sold']

In [6]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Sold, dtype: int64

In [7]:
#import sklearn logistic regression model
from sklearn.linear_model import LogisticRegression

In [8]:
#create classifier object
clf_lrs = LogisticRegression()

In [9]:
#fit x and y variables to the classifier
clf_lrs.fit(X, y)

LogisticRegression()

In [11]:
#check coefficients of logistic regression model
print(clf_lrs.coef_)

[[-0.03571865]]

In [12]:
#check intercept of logistic regression model
print(clf_lrs.intercept_)

[0.61477516]

In [13]:
#import stat models 
import statsmodels.api as sm

In [14]:
#create dataframe independent variable
X_cons = sm.add_constant(X)

c:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [15]:
#veiew head of constant 
X_cons.head()

   const  price
0    1.0   24.0
1    1.0   21.6
2    1.0   34.7
3    1.0   33.4
4    1.0   36.2

In [16]:
#import library for logistics regression from stats model
from statsmodels.discrete.discrete_model import Logit as logit

In [17]:
#fit using logit
logit_model = logit(y, X_cons).fit()

Optimization terminated successfully.
         Current function value: 0.676690
         Iterations 5

In [19]:
#print summary of logit model
print(logit_model.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  506
Model:                          Logit   Df Residuals:                      504
Method:                           MLE   Df Model:                            1
Date:                Fri, 21 Oct 2022   Pseudo R-squ.:                 0.01788
Time:                        20:02:56   Log-Likelihood:                -342.41
converged:                       True   LL-Null:                       -348.64
Covariance Type:            nonrobust   LLR p-value:                 0.0004142
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6149      0.248      2.484      0.013       0.130       1.100
price         -0.0357      0.010     -3.417      0.001      -0.056      -0.015
==============================================================================